*{
    margin: 0;
    padding: 0;
}
.ai{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media(max-width: 1024px){
    .ai{
        width: fit-content;
        margin: 0px 156px;
    }
}

.aipower2{
    width: 456px;
height: 405px;

}
.para1{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.para2{

    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
gap: 24px;
}
.para3{
    color: var(--Text-Secondary, #828282);
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    width: 456px;
 
}
.para4{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}
.para5{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}
.ai_img{
width: 634px;
height: 520px;
object-fit: contain;
}
.client{
    margin: 24px 0;
}
@media(max-width:1024px){
    .client{
            display: flex;
            margin-left: 530px;
    }
}
.clientpara{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
justify-content: center;
/* gap: 36px; */

}

.brands{
width: 1440px;
height: 60px;
display: flex;
justify-content: center;
gap: 80px;
/* justify-content: flex-end; */
align-items: flex-start;
}
 
@media (max-width:1024px){
    .brands{
        gap: 43px;
        margin-left: 121px;
    width: 1024px;
    height: 60px;
    display: flex;
    justify-content: initial;
    }
}
.img1{
    width: 172.71px;
    height: 60px;
}
.img2{
    width: 232.727px;
    height: 60px;
}
.img3{
    width: 192.245px;
    height: 60px; 
}
.img4{
    width: 232.5px;
    height: 60px;
}
.img5{
    width: 209.189px;
    height: 60px
}
.paradirector{
    display: flex;

width: 888px;
justify-content: center;
align-items: center;

padding: 24px 24px 0px 24px;
flex-direction: column;

}
.director{
    display: flex;
    justify-content: center;
    margin: 36px 0px; 
}
@media(max-width:1024px){
    .director{
        width: 140%;
    }
}

.directorpara{
    color: var(--text-prmary, #333);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 34px;

}