/* Footer Section start here */
.footer_main_box {
    padding: 0px 156px ;
    background: #212121;
    display: flex;
    /* width: 1128px; */
    align-items: center;
    gap: 24px;
  }

  .footer_part_one {
    gap: 24px;
  }
  .footer_media {
    display: flex;
    gap: 24px;
  }
  .Footer_firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }
  .Footer_secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
  .footer_Address {
    gap: 32px;
    display: flex;
    padding-top: 30px;
  }
  .footer_input {
    display: flex;
    flex-direction: row;
    border-radius: 39.57px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
  .footer_input_bar {
    color: var(--Text-Secondary, #828282);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 19.6px */
    border: none;
  }
  .footer_input_btn {
    display: flex;
    padding: 8.412px 16.823px;
    justify-content: center;
    align-items: center;
    gap: 8.412px;
    border-radius: 31.544px;
    background: var(--primary, #06a9ef);
    border: none;
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footer_inner_input_box {
    width: 3.154px;
    height: 42.059px;
    background: #828282;
  }
  .footer_input_conatainer {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
    gap: 32px;
  }
  p {
    color: var(--white, #fff);
    font-family: Montserrat;
  }
  .footer_input_conatainer_P {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
  }
  .footer_about_P {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer_sub_about_P {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footer_sub_about {
    width: 138px;
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
    gap: 16.823px;
  }
  .footer_about_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .footer_sub_address {
    gap: 16.823px;
  }
  .footer_address_P {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer_address_Para {
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .footer_address_Email {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
  .footer_address_Email_font {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footer_copyright {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
   
  }
  #create_acc_text{
    color: var(--text-prmary, #333);
text-align: center;
font-family: Montserrat;
  }

  @media(max-width:1024px){
    #footer_respo{
      width: 141%;
    }
  }
  /* Footer Section End here */