.for_candidate {
  /* background-color: antiquewhite; */
  position: relative;
  margin-top: 20px;
  margin-left: 128px;
  width: 1188px;
  height: 565px;
  flex-shrink: 0;
}
.candidate_text {
  /* left: 30px; */
  /* top: 30px; */
  display: flex;
  /* position: absolute; */
  gap: 10px;
}
#for {
  color: var(--text-prmary, #333);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#candidate {
  color: var(--primary, #06a9ef);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wrapper {
  position: relative;
}
.create_account {
  /* opacity: 0.1; */
  /* top: 89px;
  left: 10px;
  position: absolute; */
  position: absolute;
  display: flex;
  width: 324px;
  height: 324px;
  justify-content: center;
  align-items: center;
  /* background-color: #8b8e8e; */
  flex-shrink: 0;
}

.create_acc_inner {
  border-radius: 324px;
  background: rgb(235 238 238 / 56%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-radius: 200px; */
  display: flex;
  padding: 38px 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.create_img {
  display: flex;
  flex-direction: column;
  width: 136px;
  height: 188px;
  flex-shrink: 0;
  gap: 20px;
}
.create_img img {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
#create_acc_text {
  color: var(--text-prmary, #333);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* 
.create_compo2 {
  top: 271px;
  left: 318px;
}

.create_compo3 {
  top: 30px;
  left: 606px;
}
.create_compo4 {
  top: 192px;
  left: 955px;
} */
.for_candidate .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create_account:nth-child(1) {
  left: 0px;
  animation: animate_create_account1 5s infinite;
}
.create_account:nth-child(2) {
  left: 24%;
  animation: animate_create_account2 5s infinite;
}
.create_account:nth-child(3) {
  right: 24%;
  animation:  animate_create_account1 5s infinite;
}
.create_account:nth-child(4) {
  right: 0px;
  
  animation: animate_create_account2 5s infinite;
}
@keyframes animate_create_account1 {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(200px);
  }
}
@keyframes animate_create_account2 {
  0%,
  100% {
    transform: translateY(200px);
  }

  50% {
    transform: translateY(0px);
  }
}
