/* * {
    margin: 0px;
    padding: 0px;
  }
.main_all{
    position: relative;
}
  .header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-radius: 17px;
    background: #fff;
    backdrop-filter: blur(2px);
    display: flex;
    padding: 16px 156px;
    align-items: flex-start;
  }

  .header_option {
    display: flex;
  gap: 36px;
    align-items: center;
    align-self: stretch;
  
  }
  .header_comp {
    display: flex;
    list-style-type: none;
    gap: 36px;

  }
  
  #home {
    border-bottom: 2px solid var(--secondary, #ffda1d);
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  #other_comp {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .button button {
    border-radius: 12px;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  #signin {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
  }

  .empower svg {
    position: absolute;
  }

  
  .empower {
    fill: rgba(0, 162, 232, 0.8);
    width: 1234px;
    height: 197px;
    flex-shrink: 0;
    animation: empower 2s;
  }
  .text {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    
  }
  @keyframes empower {
    from{
      transform:translate(-100%)
    }
    to {
      transform: translate(0%);
    }
  }
  .text p1 {
    margin-left: 176px;
    width: 550px;
    color: var(--white, #fff);
    font-family: Montserrat; 
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text p2 {
    margin-left: 176px;
    color: var(--secondary, #ffda1d);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .connection {
    border-radius: 16px 0px 0px 16px;
    background: rgba(251, 213, 21, 0.8);
    width: 1094px;
    height: 196px;
    margin-left: 156px;
    margin-top: 14px;
    flex-shrink: 0;
    animation: connection 2s;
  }
  
  @keyframes connection{
    from{
      transform: translate(100%);
    }
    to{
      transform: translate(0%);
      
    }
  }
  
  .connection_text {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: 14px;
  }
  .connection_text p3 {
    
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .connection_text p4 {
    color: var(--primary, #06a9ef);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .info {
    width: 552px;
    margin-top: 36px;
    margin-left: 176px;
    color: var(--text-prmary, #333);
    text-align: justify;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
  
  #join {
    display: inline-flex;
    margin-top: 24px;
    margin-left: 173px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--primary, #06a9ef);
    background: var(--primary, #06a9ef);
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hero{
    position: absolute;
    width: 100%;
  }
  .animation_class {
    position: absolute;
    right: 0;
      top: 0;
  }
  .lady_comp {
    width: 524px;
    height: 667px;
    flex-shrink: 0;
    position: relative;
    transition: all 0.6s;
  }
  
  .yellow_animation {
    position: absolute;
   
    transition: all 0.6s;
    width: 534px;
    height: 541.887px;
  right: 0;
    flex-shrink: 0;
  }
  
  .blue_animation {
    position: absolute;
    transition: all 0.6s;
    width: 534px;
    height: 638px;
    flex-shrink: 0;
    top: 0;
  }
  .lady_comp:hover .yellow_animation {
 
    transform: rotate(-90deg);
  }
  .lady_comp:hover .blue_animation {
    transform: rotate(-30deg);
  }
  
  .lady_comp:hover .man {
    opacity: 1;
    transition: all 0.6s;
  }
  .lady_comp:hover .lady {
    opacity: 0;
  }
  .man {
    width: 565px;
height: 685px;
flex-shrink: 0;
    opacity: 0;
  }
  .lady {
    transition: all 0.6s;
  }
  
  .man:hover {
    opacity: 1;
  }
  
  .main_all {
    position: relative;
  }
 */
