* {
    margin: 0px;
    padding: 0px;
  }
  
  .header {
    border-radius: 17px;
    background: #fff;
    backdrop-filter: blur(2px);
    display: flex;
    width: 1440px;
  
    flex-direction: column;
    align-items: flex-start;
  
  }


  #main_all{
    height:846px;
  }
  
  .space {
    display: flex;
    justify-content: space-between;
    border-radius: 17px;
    background: #fff;
    backdrop-filter: blur(2px);
    display: flex;
    padding: 16px 156px;
    align-items: flex-start;
  }

  @media (max-width:1024px){
    .space{
      width: 100%;
    }
  }
  
  .header_option {
    display: flex;
  gap: 36px;
    align-items: center;
    align-self: stretch;

  }
  
  .header_comp {
    display: flex;
    list-style-type: none;
    gap: 36px;

  }
  
  #home {
    border-bottom: 2px solid var(--secondary, #ffda1d);
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  #other_comp {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .button button {
    border-radius: 12px;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  #signin {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
  }
  
  .empower svg {
    position: absolute;
  }




  .empower {
    fill: rgba(0, 162, 232, 0.8);
    width: 1234px;
    height: 197px;
    flex-shrink: 0;
    animation: empower 2s;
  }
  .text {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    
  }
  @keyframes empower {
    from{
      transform:translate(-100%)
    }
    to {
      transform: translate(0%);
    }
  }
  .text p1 {
    margin-left: 176px;
    width: 550px;
    color: var(--white, #fff);
    font-family: Montserrat; 
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text p2 {
    margin-left: 176px;
    color: var(--secondary, #ffda1d);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .connection {
    border-radius: 16px 0px 0px 16px;
    background: rgba(251, 213, 21, 0.8);
    width: 1094px;
    height: 196px;
    margin-left: 156px;
    margin-top: 14px;
    flex-shrink: 0;
    animation: connection 2s;
  }

  
  @keyframes connection{
    from{
      transform: translate(100%);
    }
    to{
      transform: translate(0%);
      
    }
  }
  
  .connection_text {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: 14px;
  }
  .connection_text p3 {
    
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .connection_text p4 {
    color: var(--primary, #06a9ef);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .info {
    width: 552px;
    margin-top: 36px;
    margin-left: 176px;
    color: var(--text-prmary, #333);
    text-align: justify;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
  
  #join {
    display: inline-flex;
    margin-top: 24px;
    margin-left: 173px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--primary, #06a9ef);
    background: var(--primary, #06a9ef);
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .lady_comp {
    width: 692.099px;
    height: 667px;
    flex-shrink: 0;
    position: relative;
    transition: all 0.6s;
  }
  


  .yellow_animation {
    position: absolute;
   
    transition: all 0.6s;
    width: 534px;
    height: 541.887px;
  right: 0;
    flex-shrink: 0;
  }
  
  .blue_animation {
    position: absolute;
    transition: all 0.6s;
    width: 534px;
    height: 638px;
    flex-shrink: 0;
    top: 0;
  }



  .lady_comp:hover .yellow_animation {
 
    transform: rotate(-90deg);
  }
  .lady_comp:hover .blue_animation {
    transform: rotate(-30deg);
  }
  
  .lady_comp:hover .man {
    opacity: 1;
    transition: all 0.6s;
  }
  .lady_comp:hover .lady {
    opacity: 0;
  }
  .man {
    opacity: 0;
  }
  .lady {
    transition: all 0.6s;
  }
  
  .man:hover {
    opacity: 1;
  }
  
  .main_all {
    position: relative;
  }
  
  .animation_class {
    position: absolute;
    right: 0;
      top: 0;
  }
  @media (max-width:1024px){
    .animation_class{
      width: 300px;
    }
  }
  .main_both {
    position: relative;
  }
  
  .bottom_bar {
    justify-content: space-between;
    border-radius: 16px;
  background: #FFF;
  box-shadow: 6px 7px 50px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  width: 984px;
  padding: 16px 24px;
  flex-direction: row;
  align-items: flex-start;
    margin-top: 40px;
    margin-left: 228px;
    position: absolute;
  }
  .bottom_left{
    display: flex;
    width: 330px;
  }
  .search {
    display: flex;
    align-items: center;
    gap: 16.823px;
    color: #FFF;
  }
  .input{
    justify-content: center;
    display: flex;
  }

  #input{
    
    color: var(--Text-Secondary, #828282);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  }
  
  .line{
    display: flex;
    background: #E0E0E0;
    width: 3.154px;
  height: 42.059px;
  }
  
  #location{
    width: 34px;
  height: 34px;
  }
  .bottom_mid{
    display: flex;
    align-items: center;
    gap: 16.82px;
  }
  
  #search_button{
    border-radius: 12px;
    border: 1px solid var(--primary, #06A9EF);
    background: var(--primary, #06A9EF);
    display: flex;
  padding: 18px 48px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  color: #FFF;
  }

  .footer{
    display: inline-flex;
padding: 46px 0px;
flex-direction: column;
align-items: center;
gap: 36px;
background: #F6F6F6;
  }

  #trust{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .trust_img{
    display: flex;
width: 1440px;
height: 60px;
padding-left: 0px;
justify-content: center;
align-items: flex-start;
gap: 80px;

animation: scroll 14s linear infinite;
  }
  @keyframes scroll{
    0%{
      transform:translate(0);
    }
    100%{
      transform:translateX(calc(-250px * 9)) ;
    }
  }

  #popular_job{
    color: var(--text-prmary, #333);
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
justify-content: center;
display: flex;
  }
  @media (max-width:1024px){
    #popular_job {
      margin-left: 40vw ;
    }
  }
  #popular_info{
    color: #705E5E;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
margin: 12px 0px;
  }

  @media (max-width:1024px){
    #popular_info{
      margin-left: 22vw ;
      width: 100%;
     
    }
  }

  .job_cata_card{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
  }



  .card{
    border-radius: 12px;
background: #FFF;
box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
display: flex;
width: 168px;
height: 168px; 

flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
  }

  #card_budget{
    color: var(--text-prmary, #333);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-self: stretch;
  }
  #card_job{
    align-self: stretch;
    color: var(--Text-Secondary, #828282);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 4px;
  }

  .card img{
    margin-top: 16px;
  }
  .job_cat_card{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4rem;
    gap: 24px;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0px auto;
}

@media (max-width:1024px){
  .job_cat_card{
    width: 125%;
  }
}

